# Emacs auto-save files
*~

# vim swap files
.*.swp

# quilt working directory
/.pc

# .deb build stamp
/build-stamp

# wrappers
/bin-wrappers/

/README.html
/TG-BUILD-SETTINGS
/config.mak
/hooks/pre-commit
/tg
/tg-annihilate
/tg-annihilate.txt
/tg-annihilate.html
/tg-base
/tg-base.txt
/tg-base.html
/tg-checkout
/tg-checkout.txt
/tg-checkout.html
/tg-create
/tg-create.txt
/tg-create.html
/tg-delete
/tg-delete.txt
/tg-delete.html
/tg-depend
/tg-depend.txt
/tg-depend.html
/tg-export
/tg-export.txt
/tg-export.html
/tg-files
/tg-files.txt
/tg-files.html
/tg-help.txt
/tg-help.html
/tg-import
/tg-import.txt
/tg-import.html
/tg-info
/tg-info.txt
/tg-info.html
/tg-mail
/tg-mail.txt
/tg-mail.html
/tg-next
/tg-next.txt
/tg-next.html
/tg-log
/tg-log.txt
/tg-log.html
/tg-patch
/tg-patch.txt
/tg-patch.html
/tg-prev
/tg-prev.txt
/tg-prev.html
/tg-push
/tg-push.txt
/tg-push.html
/tg-rebase
/tg-rebase.txt
/tg-rebase.html
/tg-remote
/tg-remote.txt
/tg-remote.html
/tg-revert
/tg-revert.txt
/tg-revert.html
/tg-summary
/tg-summary.txt
/tg-summary.html
/tg-tag
/tg-tag.txt
/tg-tag.html
/tg-tg.txt
/tg-tg.html
/tg-update
/tg-update.txt
/tg-update.html
/topgit.html
